<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>AmazonSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:11</td>   <td>0</td> <td title="&gt;&gt;AmazonTest.setUp()[pri:0, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:19</td>   <td>7877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyClickOnSignIn()[pri:1, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">verifyClickOnSignIn</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:22</td>   <td>10479</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testEmailField()[pri:2, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testEmailField</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:22</td>   <td>10680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testContinueButton()[pri:3, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testContinueButton</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:23</td>   <td>12105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testPasswordField()[pri:4, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testPasswordField</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:24</td>   <td>12274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testSignInButton()[pri:5, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testSignInButton</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:24</td>   <td>12437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testVerifyUserName()[pri:6, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testVerifyUserName</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:30</td>   <td>18438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testsearchLaptop()[pri:7, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testsearchLaptop</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:37</td>   <td>25324</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testApplyFiltersForLaptop()[pri:8, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testApplyFiltersForLaptop</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:44</td>   <td>33228</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testclickOnLaptop()[pri:9, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testclickOnLaptop</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:47</td>   <td>35319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testAddLaptopToCart()[pri:10, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testAddLaptopToCart</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:53</td>   <td>41888</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testCancelPopUp()[pri:11, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testCancelPopUp</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:58</td>   <td>46266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testAddToCart()[pri:12, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testAddToCart</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:58</td>   <td>46380</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testGetLaptopPrice()[pri:13, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testGetLaptopPrice</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:56:58</td>   <td>46441</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testSearchKeyboard()[pri:14, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testSearchKeyboard</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:57:02</td>   <td>50969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testApplyFiltersForKeyboard()[pri:15, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testApplyFiltersForKeyboard</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:57:05</td>   <td>54235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testClickOnKeyboard()[pri:16, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testClickOnKeyboard</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:57:06</td>   <td>54699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testAddKeboardToCart()[pri:17, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testAddKeboardToCart</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:57:15</td>   <td>63964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testGetKeyboardPrice()[pri:18, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testGetKeyboardPrice</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:57:15</td>   <td>64168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testIsCartUpdated()[pri:19, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testIsCartUpdated</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:57:15</td>   <td>64172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testClickOnProceedToBuy()[pri:20, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testClickOnProceedToBuy</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:57:19</td>   <td>68046</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testSelectDeliveryAddress()[pri:21, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testSelectDeliveryAddress</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:57:24</td>   <td>72316</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testClickOnContinueToPayment()[pri:22, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testClickOnContinueToPayment</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 21:57:24</td>   <td>72494</td> <td title="&lt;&lt;AmazonTest.tearDown()[pri:0, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1338841523</td>   <td></td> </tr>
</table>
