<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.intimetec.amazon.pom.AmazonTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>testSelectDeliveryAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testsearchLaptop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickOnContinueToPayment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSearchKeyboard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testSignInButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testclickOnLaptop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testApplyFiltersForKeyboard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetLaptopPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAddLaptopToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testCancelPopUp</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyClickOnSignIn</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testIsCartUpdated</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickOnProceedToBuy</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testPasswordField</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testEmailField</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testGetKeyboardPrice</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testApplyFiltersForLaptop</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testContinueButton</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testAddKeboardToCart</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testClickOnKeyboard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>testVerifyUserName</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
