<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:00</td>   <td>0</td> <td title="&gt;&gt;AmazonTest.setUp()[pri:0, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:08</td>   <td>8277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.verifyClickOnSignIn()[pri:1, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">verifyClickOnSignIn</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:10</td>   <td>9796</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testEmailField()[pri:2, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testEmailField</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:10</td>   <td>10029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testContinueButton()[pri:3, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testContinueButton</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:11</td>   <td>10997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testPasswordField()[pri:4, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testPasswordField</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:11</td>   <td>11164</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testSignInButton()[pri:5, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testSignInButton</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:11</td>   <td>11322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testVerifyUserName()[pri:6, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testVerifyUserName</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:17</td>   <td>17395</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testsearchLaptop()[pri:7, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testsearchLaptop</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:22</td>   <td>22276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testApplyFiltersForLaptop()[pri:8, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testApplyFiltersForLaptop</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:29</td>   <td>29458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testclickOnLaptop()[pri:9, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testclickOnLaptop</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:32</td>   <td>31568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testAddLaptopToCart()[pri:10, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testAddLaptopToCart</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:37</td>   <td>36763</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testCancelPopUp()[pri:11, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testCancelPopUp</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:47</td>   <td>46934</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testGetLaptopPrice()[pri:12, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testGetLaptopPrice</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:16:57</td>   <td>56990</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testSearchKeyboard()[pri:13, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testSearchKeyboard</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:17:01</td>   <td>60684</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testApplyFiltersForKeyboard()[pri:14, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testApplyFiltersForKeyboard</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:17:04</td>   <td>63959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testClickOnKeyboard()[pri:15, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testClickOnKeyboard</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:17:04</td>   <td>64428</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testAddKeboardToCart()[pri:16, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testAddKeboardToCart</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:17:13</td>   <td>72812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testGetKeyboardPrice()[pri:17, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testGetKeyboardPrice</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:17:13</td>   <td>72965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testIsCartUpdated()[pri:18, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testIsCartUpdated</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:17:13</td>   <td>72969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testClickOnProceedToBuy()[pri:19, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testClickOnProceedToBuy</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:17:16</td>   <td>75626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testSelectDeliveryAddress()[pri:20, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testSelectDeliveryAddress</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:17:19</td>   <td>79323</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AmazonTest.testClickOnContinueToPayment()[pri:21, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">testClickOnContinueToPayment</td> 
  <td>main@1338841523</td>   <td></td> </tr>
<tr bgcolor="7da28d">  <td>21/03/23 19:17:19</td>   <td>79505</td> <td title="&lt;&lt;AmazonTest.tearDown()[pri:0, instance:com.intimetec.amazon.pom.AmazonTest@5891e32e]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1338841523</td>   <td></td> </tr>
</table>
